<div n:snippet="form" class="nittro-transition-fade nittro-transition-fade-half mb-3">
    <h3>Thank you!</h3>

    <p>
        An e-mail with instructions detailing how to reset your password
        is on its way to your mailbox.
    </p>

    <p>
        <a href="{plink Home:}" data-redraw="full">Back to forum homepage</a>
    </p>
</div>
