{block header}
    Unsubscribe from '{$topic->title}'
{/block}

{block main}
    <div class="my-3 p-3 bg-white text-muted small rounded shadow-sm">
        <p>
            Your subscription has been cancelled. Unless you turn it back on manually
            you won't be notified of any new replies in this topic.
        </p>
    </div>
{/block}
