Hello @{$user->login},

Somebody (hopefully you) requested a new password
for your Nittro Forums account.

If it was, indeed, you, you may proceed to reset your password
by visiting the following URL in your browser:

{block |normalizeMail}
{link Public:User:resetPassword rid => $request->id, token => $request->token}
{/block}

If you don't recognise this activity you can safely ignore this message.

Thank you,
have a great day,
the Nittro Forums team
