{block header}Access forbidden{/block}

{block main}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <p>We're sorry, but it appears you're trying to do something you oughtn't.</p>
    </div>
{/block}
