{block header}Page not found{/block}

{block main}
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <p>We're sorry, but it appears the page you requested doesn't exist.</p>
    </div>
{/block}
